*{

  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{

  scroll-behavior: smooth;
}

body{
  
  display: flex;
  flex-direction: column;
  
}

  .titulo{

    color: white;
    letter-spacing: .1em;
    font-size: 1.1em;
    transform:translateY(8px);
    font-family: 'PT Sans', sans-serif;
    z-index: -10;

  }

.header{

  background-color: rgb(22, 16, 50);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:sticky;
  color: rgb(7, 2, 13);
  top:0;
  padding: .5em;
  z-index: 1;

}

.menu{
  
  height:100%;
  width:100%;
  position:fixed;
  top: -100%;
  left: 0;
  transition: all .45s;
  z-index: -10;
  overflow-y: auto;
 

}

ul{

  display:flex;
  list-style: none;
  flex-direction: column;
  background-color: rgb(22, 16, 50);
  height: 100%;
  justify-content: center;
  

}



li:hover {

  background-color: rgb(206, 83, 116);
  
}

li:hover > a {

  color:rgb(22, 16, 50);
}



a{
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
 
}

.open{

  top: 0;
}

.hamb{


  z-index: 1;
  width: 2.2em;
  height: 2.2em;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  border-color: white;
  transition: all .3s ease;

}

img{

  filter: brightness(0) invert(1);
  width: 20px;
  transform: translateX(85px);

}

.linea, .linea2, .linea3{

  background-color: white;
  width: 60%;
  height: 4px;
  border-radius: .5em;
  transition: all .2s ease-in-out;
}

.linea{

  transform:translateY(6px);
}

.linea3{

  transform:translateY(-6px);

}

.hamb.open-hamb .linea2{

  opacity:0;
  transform:translateX(-40px);
}

.hamb.open-hamb .linea{

  transform: rotate(4deg);

}

.hamb.open-hamb .linea3{

  transform: rotate(0deg);

}

.menu ul:first-child{

  text-align: center;
  
}


.secciones{

  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(206, 83, 116);
  color: rgb(22, 16, 50);
  font-size: clamp(19px,4vw,32px);
  border-bottom: 1px solid rgb(22, 16, 50);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border-width: 2px;
  text-align: center;
  
}

.darkMode{
  background-color: rgb(204, 197, 199);
  color: #830b55;

}

.container-hora, .container-fecha{
  
  border: 1px solid black;
  padding: 1rem;
  
}

.secciones:nth-child(7){

  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  
}

.secciones:nth-child(8){

  background-color: hsl(0, 86%, 43%);
  color:#d60d5a;
  
  
}

.secciones:nth-child(9){

  background-color: #000000;
  color:#d60d5a;
  
  
}

.secciones:nth-child(10){

  background-color: #e7baeb;
  color:#570625;
  
  
}



.secciones:nth-child(11){

  background-color: #e0d780;
  color:#10041fd2;
  
  
}

.secciones:nth-child(12){

  background-color: #1f8ece;
  color:#570625;
  font-size: clamp(16px,4vw,50px);
  
  
}

.secciones:nth-child(13){

  background-color: #021852;
  color:#e2d8dc;
  
  
}

.secciones:nth-child(14){

  background-color: hwb(24 4% 15%);
  color:#e2d8dc;
  padding: 1em;
  height: max-content;
  
  
}

.hora{

  opacity: 0;
  
  
}

.active-hora{
  
  opacity: 1;
  
}

.boton-hora{

  padding: .5rem;
  width: clamp(120px,6vw,300px);
  padding: 1rem;
  border-radius: 4em;
  border-style: none;
  background-color: rgb(22, 16, 50);
  color: antiquewhite;
  font-size: 1rem;
  cursor: pointer;
  transition: all .10s ease-in;
  
 
}

.boton-hora:hover{

  background-color:rgb(48, 35, 107);
}

.bola{

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  
}

.button-scroll{

 background-color: hsl(333, 79%, 37%);
 position: fixed;
 border-radius: 50%;
 color: #eef5f5;
 bottom: 0;
 align-self: center;
 margin-bottom: 2rem;
 padding: 1rem;
 border-style: none;
 transition: all .2s ease-in-out;
 opacity: 0;
 
 
 
}

.button-dark{

  width: 3em;
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: transparent;
  border: none;
  margin-left: auto;
  
  
}

.active{

  display:none;

}

.button-scroll:hover{

  cursor: pointer;
  background-color: hwb(342 4% 10% / 0.89);
  

}


/*Tester Responsive*/

.container-tester{

  display: flex;
  flex-direction: column;
  justify-content: end;
  
 
}

.container-tester * {

  margin-bottom: .4em;

}



.container-tester form{

  display: flex;
  flex-direction: column;
  

}

.btn_test, .btn_close{

  padding: .3em;
  width: 8em;
  border: none;
  border-radius: .2rem;
  background-color: #d60d5a;
  color:#ffffff;
  cursor: pointer;
  


}

.btn_close{

  background-color: transparent;
  color: #000000;
  border: 1px solid black;

}

form input{

  width: 80%;
  align-self: center;
  padding: .5em;
  border-radius: .2em;
  border: none;

}

form div{

  flex-direction: row;
  margin-top: .5em;

}


/**** Web cam detection *****/

.web-video{

  width: 100%;
}


/**** Geolocalization ****/

.latitud, .longitud, .precision, .secciones div a{

  font-size: .6em;
  font-weight:100;
}


/***** Cards Filter *****/

.box-cards{

  display: flex;
  gap: 1.2em;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  
}

.input-filter{

  padding: .5em;
  
}

.card{

  width: 220px;
  height: clamp(100px,50vw,350px);
  background-color: red;
  position: relative;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  cursor: pointer;
  
}

.card:nth-child(1){

  
  background-image: url(/assest/programacion.jpg);
 
}

.card:nth-child(2){

  
  background-image: url(/assest/moda.jpg);
 
}

.card:nth-child(3){

  
  background-image: url(/assest/diseño.jpg);
 
}

.card:nth-child(4){

  
  background-image: url(/assest/maquillaje.jpg);
 
}

.card:nth-child(5){

  
  background-image: url(/assest/cabello.jpg);
 
}

.card-title{

  background-color: #00000086;
  padding: .3em;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: clamp(14px,4vw,20px);
  
 
}

.filter{

  display: none;
}






