*{

  margin:0;
  padding:0;
  box-sizing: border-box;


  }

  .titulo{

    color: white;
    letter-spacing: .1em;
    font-size: 1.7em;
    font-family: 'PT Sans', sans-serif;
  }

.header{

  background-color: rgb(22, 16, 50);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:sticky;
  color: rgb(7, 2, 13);
  top:0;
  padding: .5em;
}

ul{

  display:flex;
  list-style: none;
  flex-direction: column;
  ;

}

ul > li{

  padding: 30px;
}

a{
  text-decoration: none;
  font-size: 2rem;
  color: rgb(22, 16, 5);

}

.menu{

  background-color: rgb(221, 240, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
  position:fixed;
  top: -100%;
  left: 0;
  transition: all .45s;


}

.open{

  top: 0;
}

.hamb{

  background-color: transparent;
  z-index: 1;
  width: 2.5em;
  height: 2.5em;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 50px;

}

.open-hamb{}

.linea{

  background-color: white;
  width: 60%;
  height: 4px;
  border-radius: .5em;
  transition: all .2s ease-in-out;
}



.linea:before{

  transform: translateY(-10px);
}

.linea:after{

  transform: translateY(10px);


}

.linea::before,
.linea::after{

  content: '';
  position: absolute;
  background-color: white;
  width: 60%;
  height: 4px;
  border-radius: .5em;
  transition: all .15s ease-in-out;

}

.hamb.open-hamb .linea{

  opacity:0;
  transform:translateX(-80px);
}

.hamb.open-hamb .linea::before {

  transform: rotate(45deg);

}

.hamb.open-hamb .linea::after {

  transform: rotate(-45deg);

}


.secciones{

  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(206, 83, 116);
  color: white;
}
