*{

  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{

  --valid: green;
  --focus: #e0d780;
  --invalid: red;
  --blur: gray;
}

html{

  scroll-behavior: smooth;
  height: 100%;
}

body{
  
  display: flex;
  flex-direction: column;
  
}

  .titulo{

    color: white;
    letter-spacing: .1em;
    font-size: 1.1em;
    transform:translateY(8px);
    font-family: 'PT Sans', sans-serif;
    z-index: -10;

  }

.header{

  background-color: rgb(22, 16, 50);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:sticky;
  color: rgb(7, 2, 13);
  top:0;
  padding: .5em;
  z-index: 1;

}

.menu{
  
 
  width:100%;
  height: 100%;
  position:fixed;
  top: -100%;
  left: 0;
  transition: all .45s;
  z-index: -10;
  overflow-y: auto;
 

}

ul:not(.sorteo){

  display:flex;
  list-style: none;
  flex-direction: column;
  background-color: rgb(22, 16, 50);
  height: auto;
  justify-content: center;
  

}



li:hover:not(.sorteo li) {

  background-color: rgb(206, 83, 116);
  
}

li:hover > a {

  color:rgb(22, 16, 50);
}



a:not(.slider-container a){
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
 
}

.open{

  top: 0;
  overflow: auto;

}

.hamb{


  z-index: 1;
  width: 2.2em;
  height: 2.2em;
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  border-color: white;
  transition: all .3s ease;

}



.linea, .linea2, .linea3{

  background-color: white;
  width: 60%;
  height: 4px;
  border-radius: .5em;
  transition: all .2s ease-in-out;
}

.linea{

  transform:translateY(6px);
}

.linea3{

  transform:translateY(-6px);

}

.hamb.open-hamb .linea2{

  opacity:0;
  transform:translateX(-40px);
}

.hamb.open-hamb .linea{

  transform: rotate(4deg);

}

.hamb.open-hamb .linea3{

  transform: rotate(0deg);

}

.menu ul:first-child{

  text-align: center;
  
}


.secciones{

  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgb(206, 83, 116);
  font-size: clamp(19px,4vw,32px);
  border-bottom: 1px solid rgb(22, 16, 50);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  border-width: 2px;
  text-align: center;
  
}

.darkMode{
  background-color: rgb(204, 197, 199);
  color: #830b55;

}

.container-hora, .container-fecha{
  
  border: 1px solid black;
  padding: 1rem;
  
}
/*Secciones*/

.secciones:nth-child(7){

  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem;
  
}

.secciones:nth-child(8){

  background-color: hsl(0, 86%, 43%);
  color:#d60d5a;
  
  
}

.secciones:nth-child(9){

  background-color: #000000;
  color:#d60d5a;
  
  
}

.secciones:nth-child(10){

  background-color: #e7baeb;
  color:#570625;
  
  
}



.secciones:nth-child(11){

  background-color: #e0d780;
  color:#10041fd2;
  
  
}

.secciones:nth-child(12){

  background-color: #1f8ece;
  color:#570625;
  font-size: clamp(16px,4vw,50px);
  
  
}

.secciones:nth-child(13){

  background-color: #021852;
  color:#e2d8dc;
  
  
}

.secciones:nth-child(14){

  background-color: hwb(24 4% 15%);
  color:#e2d8dc;
  padding: 1em;
  height: max-content;
  
  
}

.secciones:nth-child(15){

  background-color:#16d37b;
  
}

.secciones:nth-child(16){

  background-color:hsl(165, 82%, 13%);
  color: #e7baeb;
  
}

.secciones:nth-child(17){

  background-color:hsl(253, 82%, 13%);
  color: #e70a9e;
  
  
}

.secciones:nth-child(18){

  background-color:hsl(252, 79%, 4%);
  color: hsl(54, 88%, 49%);
  height: auto;
 
}

.secciones:nth-child(19){

  background-color:#FFFFC7;
  color: #473335;
 
 
}





.hora{

  opacity: 0;
  
  
}

.active-hora{
  
  opacity: 1;
  
}

.boton-hora{

  padding: .5rem;
  width: clamp(120px,6vw,300px);
  padding: 1rem;
  border-radius: 4em;
  border-style: none;
  background-color: rgb(22, 16, 50);
  color: antiquewhite;
  font-size: 1rem;
  cursor: pointer;
  transition: all .10s ease-in;
  
 
}

.boton-hora:hover{

  background-color:rgb(48, 35, 107);
}

.bola{

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  
}

.button-scroll{

 background-color: hsl(333, 79%, 37%);
 position: fixed;
 border-radius: 50%;
 color: #eef5f5;
 bottom: 0;
 align-self: center;
 margin-bottom: 2rem;
 padding: 1rem;
 border-style: none;
 transition: all .2s ease-in-out;
 opacity: 0;
 
 
 
}

.button-dark{

  width: 3em;
  cursor: pointer;
  border-radius: 1.5rem;
  background-color: transparent;
  border: none;
  margin-left: auto;
  
  
}

.active{

  display:none;

}

.button-scroll:hover{

  cursor: pointer;
  background-color: hwb(342 4% 10% / 0.89);
  

}


/*Tester Responsive*/

.container-tester{

  display: flex;
  flex-direction: column;
  justify-content: end;
  
 
}

.container-tester * {

  margin-bottom: .4em;

}



.container-tester form{

  display: flex;
  flex-direction: column;
  

}

.btn_test, .btn_close, .btn-start{

  padding: .3em;
  width: 8em;
  border: none;
  border-radius: .2rem;
  background-color: #d60d5a;
  color:#ffffff;
  cursor: pointer;
  


}

.btn_close{

  background-color: transparent;
  color: #000000;
  border: 1px solid black;

}

form input{

  width: 80%;
  align-self: center;
  padding: .5em;
  border-radius: .2em;
  border: none;

}




/**** Web cam detection *****/

.web-video{

  width: 100%;
}


/**** Geolocalization ****/

.latitud, .longitud, .precision, .secciones div a{

  font-size: .6em;
  font-weight:100;
}


/***** Cards Filter *****/

.box-cards{

  display: flex;
  gap: 1.2em;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  
}

.input-filter{

  padding: .5em;
  
}

.card{

  width: 220px;
  height: clamp(100px,50vw,350px);
  background-color: red;
  position: relative;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  cursor: pointer;
  
}

.card:nth-child(1){

  
  background-image: url(/assest/programacion.jpg);
 
}

.card:nth-child(2){

  
  background-image: url(/assest/moda.jpg);
 
}

.card:nth-child(3){

  
  background-image: url(/assest/diseño.jpg);
 
}

.card:nth-child(4){

  
  background-image: url(/assest/maquillaje.jpg);
 
}

.card:nth-child(5){

  
  background-image: url(/assest/cabello.jpg);
 
}

.card-title{

  background-color: #00000086;
  padding: .3em;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: clamp(14px,4vw,20px);
  
 
}

.filter{

  display: none;
  
}


/*****Sorteo Digital******/

.sorteo{

  font-size: .8em;
  margin-top: 2em;
  margin-bottom: 1em;

}

/****Slider Container****/

.slider-container{

  position: relative;
  width: clamp(10rem, 9.6761rem + 52.5822vw, 30rem);
  height: 400px;
  margin-top: 1em;
 
  
}

.slider{
  position: absolute;
  visibility: hidden;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: clip-path .2s ease;
  inset: 0;
  
}

.slider img{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.slider.active-sld{

  visibility: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 99%);
  

}

.icon-prev, .icon-next{

  color: #e2d8dc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #02081a71;
  font-size: clamp(30px,3vw,40px);
  border-style: none;
  cursor: pointer;
  
}

.slider-btns{
  
  position: absolute;
  background-color: #ece5e800;
  padding: 0 1.4em;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items:center;
  opacity: 1;
  height: 100%;
  justify-content: space-between;
  
}

/****Intersection Observer*****/

.intersection-container{

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  padding-bottom: 4rem;
  gap: 1rem;
 
 }

.galaxy-img{

  width: clamp(300px ,70%, 600px);
  opacity: 0;
  transform: scale(0);
  transition: .4s ease-in;

  --opacity: 1;
  --transform: scale(1); 
}



.universe-text{
  
  opacity: 0;
  transform: translateY(100%);
  transition: .5s ease-in;
  filter:blur(5px);
  
  --opacity: 1;
  --transform: translateY(0);
  --filter: blur(0px);
  
}


.intersection-active{

  opacity: var(--opacity);
  transform: var(--transform);
  filter: var(--filter);

  
}

.change{

  background-color: #570625!important;
  color: white;

}


/*****Formulario de contacto******/

.cont-form{

  margin-top: 2rem;
  
  
}

.form{

  margin-top: 2rem;
}

.none{

  display: none;
}

.container-form{
  
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  color: #b3b09562;
  
 
}

.container-text-form{

  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  
}

.validator{

  
  background-color: hsl(4, 81%, 46%);
  color: white;
  font-size: .9rem;
  padding: .6rem;
  margin-top: .8rem;
  display: none;
  
  

}

.validator.validator-active{

  display: block;
  
}

.form-input:focus{

  outline-offset: 3px;
}

.form-input{
  
  width: 100%;
  background-color: transparent;
  border-bottom: 3.5px solid var(--color, --blur);
  border-radius: 6px;
  color: #e0d780;
  
 
}

.container-text-form:has(:invalid){

  --color: var(--invalid);

}

.container-text-form:has(:focus){

  --color: var(--focus);

}

.container-text-form:has(:valid){

  --color: var(--valid);

}

.container-text-form:has(:placeholder-shown){

  --color: var(--blur);
}






.form-label{

  font-size: .9rem;
  position: absolute;
  top: 0;
  left: 4px;
  transform: translateY(9px);
  transition: transform .3s ease;
  cursor: text;
}

#comentario{

  background-color: #021852;
  height: 16rem;
  padding: .5rem;
  border-color: #e0d780;
  
  

}



.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{

  transform: translateY(-18px) scale(.7);
  transform-origin: top left;
  color: #e0d780;
}

.form-input:focus + .form-input,
.form-input:not(:placeholder-shown) + .form-input{

  outline: auto;
  outline-width: 2px;
  outline-color: #ff5500;
}



.form-btn{

  width: 50%;
  min-width: 100px;
  place-self: center;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
  padding: .8rem;
  border-radius: .5rem;
  letter-spacing: .3rem;
  background-color: #e0d780;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  transition: all .4s ease;
  transform: translateY();
}

.form-btn:hover{

  background-color: #d1c238;
  transform: translateY(4px);


}

.form-loader, .form-response{

  margin-bottom: 4rem;
}

.form-response{

  color: #ffe600;
  font-size: 1.2rem;
}


/*Narrador (Web Speech Api)*/

.container-narrador{

  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.container-narrador *{
   
  margin-bottom: 30px;
}

[id='18'] em{

  font-size: .5em;


}

.voices{

  padding: .4rem;
  font-weight: bold;
  background-color: transparent;
}

.text-to-read{

  background-color: transparent;
  padding: .5rem;
}

.btn-speech{

  width: 50%;
  min-width: 100px;
  place-self: center;
  cursor: pointer;
  padding: .3rem;
  font-weight: bolder;
  transition: all .2s ease;
  letter-spacing: .2rem;


}

.btn-speech:hover{

  background-color: hsl(181, 23%, 43%);
  color: #EDF2F4;
}

/* Commit de prueba 2 */






















